[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile.python"

[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 30

